*{
  font-family: 'Roboto', sans-serif;
}

body{
  background-image: url("./vivid-blurred-colorful-wallpaper-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align-content: center;
  align-items: center;
}
