.landing-container {
  display:flex;
  flex-direction:column;
  background-color: rgba(27, 148, 212, 0.4);
  border-radius: 10px;
  height: 80vh;
  margin: 0;
  padding: 0;
  color: white;
  text-align: center;
  align-content: center;
  align-items: center;
  justify-content: center;
  margin-top:80px;
}

.group-input-container{
  padding: 20px;
  margin-top: 50px;
  justify-content: center;
}

.group-input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  color: #465b68;
}

.create-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700; 
  cursor: pointer;
  background-color: #0077b6;
  color: white;
  margin-right: 10px;
}

.create-button:hover {
  background-color: #005a8a;
}

.join-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700; 
  cursor: pointer;
  background-color: #0077b6;
  color: white;
  margin-right: 10px;
}

.join-button:hover {
  background-color: #005a8a;
}

.group-msg {
  margin-top: 10px;
  color: #0077b6;
}

.logo{
  display: block;
  margin: 0 auto;
  width: 200px;
  height: auto;

}
