
.group-name {
  font-size: 30px;
}

.todo-container {
  max-height: 1500px;
  overflow-y: auto;
}

.todo-container ul {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.todo-container::-webkit-scrollbar {
  width: 10px;

}

.todo-container::-webkit-scrollbar-track {
  background-color: #CCF8FE;
  border-radius: 6px;
}

.todo-container::-webkit-scrollbar-thumb {
  background-color: #b7e0f8;
  border-radius: 4px;
}

.todo-container::-webkit-scrollbar-thumb:hover {
  background-color: #8dd7ff;
}

.single-todo li {
  display: flex; 
  background-color: #B4E4FE;
  border-radius: 8px;
  align-items: center; 
  padding: 8px 15px; 
  margin-bottom: 5px;
  color: #465b68;
}

.single-todo li.completed-task {
  background-color: #6ea7d6;
}

.main-container {
  margin: 20px auto;
  max-width: 1200px;
  margin-right: 100px;
}

.task-text {
  text-align: left;
  margin-left: 15px;
  flex: 1;
}

.button-group {
  margin-left: auto; 
  margin-right: 0px; 
}

.home-button {
  position: absolute;
  top: 15px;
  left: 10px;
  padding: 8px 16px;
  background-color: transparent;
  color: white;
  border-radius: 5px;
  border:none;
  cursor: pointer;
}

.add-button {
  background-color: #31acee;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 6px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.add-button:hover {
  background-color: #005a8a;
}

.input-wrapper {
  
  position: sticky;
  top: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-input-container {
  
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.task-input {
  padding: 20px;
  justify-content: center;
  width: 300px;
}

.task-input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #465b68;
  margin-right: 5px;
  text-align: center;
}

.task-checkbox {
  border: none;
  border-radius: 50%;
  margin-left: 10px;
}

.edit-button {
  background-color: #53abf3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  margin-right: 2px;
  margin-left:5px;
  padding: 6px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #3d86c2;
}

.delete-button {
  background-color: #e0636f;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 6px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ce505d;
}

.note-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-left: 20px;
}

.note-save-button {
  background-color: #53abf3;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 6px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.note-save-button:hover {
  background-color: #3d86c2;
}

.note-input {
  height: 300px;
  width: 400px; 
  resize: none; 
}
