.group-name{
  
}

.todo-container{
  max-height: 1500px;
  overflow-y: auto;
  
}

.todo-container ul{
  text-align: center;
  list-style: none;
  direction:flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  margin-top:50px;
}

.todo-container::-webkit-scrollbar {
  width: 8px; 
}

.todo-container::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}


.todo-container::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 4px; 
}


.todo-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

.single-todo li{
  background-color:#1b5bad;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
  margin-bottom: 5px;
}

.single-todo li.completed-task {
  background-color: #4d5969;
}


.main-container {
  margin: 20px auto;
  max-width: 1200px;
  margin-right:100px;
}

.task-text{
  margin-left: 15px;
}

.button-group{
  margin-left: 100px;
  margin-right: 15px;
}

.home-button{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px 16px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-button{
  background-color: #0077b6;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 6px;
  margin-left: 1px;
  cursor: pointer;
  display: inline-block; 
  vertical-align: middle
}

.add-button:hover {
  background-color: #005a8a;
 
}

.input-wrapper{
  position: sticky;
  top: 0;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-input-container{
  align-items: center; 
  justify-content: center; 
}


.task-input{
  padding: 20px;
  justify-content: center;
}

.task-input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 5px;
  text-align: center;
}

.task-checkbox{
  border: none;
  border-radius:10px;
  margin-left:10px;
}

.edit-button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 6px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #0061c9;
}

.delete-button {
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 6px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #b6202f;
}

